################################
# DEPENDÊNCIAS NODE
################################
node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml

################################
# VARIÁVEIS DE AMBIENTE
################################
.env
.env.*.local

################################
# BUILD
################################
dist/
build/
.vite/
.next/

################################
# LOGS
################################
logs/
*.log

################################
# CACHE
################################
.cache/
.eslintcache
.stylelintcache
.turbo/

################################
# TESTES
################################
coverage/
.nyc_output/

################################
# IDE
################################
.vscode/
.idea/

################################
# SISTEMA
################################
.DS_Store
Thumbs.db
Desktop.ini

################################
# BACKEND / FRONTEND ESPECÍFICO (se necessário)
################################
backend/node_modules/
frontend/node_modules/
backend/.env
frontend/.env